<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="../public/css/tailwind-output.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto p-4">
      <%- include('../components/navbar'); %>
      <!-- Include Navbar -->
      <div class="flex">
        <%- include('../components/sidebar'); %>
        <!-- Include Sidebar -->
        <div class="content p-4">
        
        </div>
      </div>
    </div>
  </body>
</html>
