<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="../public/css/tailwind-output.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto p-4">
      <div class="relative flex flex-col md:flex-row">
        <!-- Include Sidebar -->
        <%- include('../components/sidebar'); %>

        <div class="ml-0 md:ml-64 flex flex-col w-full">
          <!-- Include Navbar -->
          <%- include('../components/navbar'); %>

          <div
            class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12"
          >
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
              <div
                class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10"
              >
                <div class="max-w-md mx-auto">
                  <div class="flex items-center space-x-5">
                    <div
                      class="h-14 w-14 bg-[#73b4a6] rounded-full flex flex-shrink-0 justify-center items-center text-black text-2xl font-mono"
                    >
                      C
                    </div>
                    <div
                      class="block pl-2 font-semibold text-xl self-start text-gray-700"
                    >
                      <h2 class="leading-relaxed">Update a Cabinet</h2>
                    </div>
                  </div>
                  <form id="cabinetForm">
                    <div
                      class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
                    >
                      <div class="flex flex-col">
                        <label class="leading-loose">Nom</label>
                        <input
                          required
                          type="text"
                          name="nom"
                          class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                          placeholder="Cabinet nom"
                        />
                      </div>
                      <div class="flex flex-col">
                        <label class="leading-loose">Willaya</label>
                        <select
                          required
                          name="willaya"
                          class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                          id="willaya"
                        >
                          <option value="" disabled selected>
                            Select Willaya
                          </option>
                          <option value="HODH_CHARGUI">Hodh Chargui</option>
                          <option value="HODH_EL_GHARBI">Hodh El Gharbi</option>
                          <option value="ASSABA">Assaba</option>
                          <option value="GORGOL">Gorgol</option>
                          <option value="BRAKNA">Brakna</option>
                          <option value="TRARZA">Trarza</option>
                          <option value="ADRAR">Adrar</option>
                          <option value="DAKHLET_NOUADHIBOU">
                            Dakhlet Nouadhibou
                          </option>
                          <option value="TAGANT">Tagant</option>
                          <option value="GUIDIMAGHA">Guidimagha</option>
                          <option value="TIRIS_ZEMMOUR">Tiris Zemmour</option>
                          <option value="INCHIRI">Inchiri</option>
                          <option value="NOUAKCHOTT_OUEST">
                            Nouakchott Ouest
                          </option>
                          <option value="NOUAKCHOTT_NORD">
                            Nouakchott Nord
                          </option>
                          <option value="NOUAKCHOTT_SUD">Nouakchott Sud</option>
                        </select>
                      </div>
                      <div class="flex flex-col">
                        <label class="leading-loose">Moughataa</label>
                        <select
                          required
                          name="moughataa"
                          class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                          id="moughataa"
                        >
                          <option value="" disabled selected>
                            Select Moughataa
                          </option>
                          <option value="NEMA">Nema</option>
                          <option value="AMOURJ">Amourj</option>
                          <option value="BASSIKNOU">Bassiknou</option>
                          <option value="DJIGUENNI">Djiguenni</option>
                          <option value="TIMBEDRA">Timbedra</option>
                          <option value="OUALATA">Oualata</option>
                          <option value="NBEIKET_LAHWACH">
                            Nbeiket Lahwach
                          </option>
                          <option value="ADELBEGROU">Adelbegrou</option>
                          <option value="AIOUN">Aïoun</option>
                          <option value="TAMCHEKET">Tamcheket</option>
                          <option value="KOUBENNI">Koubenni</option>
                          <option value="TINTANE">Tintane</option>
                          <option value="TOUIL">Touil</option>
                          <option value="KIFFA">Kiffa</option>
                          <option value="KANKOUSSA">Kankoussa</option>
                          <option value="BOUMDEID">Boumdeid</option>
                          <option value="GUEROU">Guerou</option>
                          <option value="BARKEOL">Barkéol</option>
                          <option value="KAEDI">Kaédi</option>
                          <option value="MONGUEL">Monguel</option>
                          <option value="MAGHAMA">Maghama</option>
                          <option value="MBOUT">M'Bout</option>
                          <option value="LEXEIBA1">Lexeiba1</option>
                          <option value="ALEG">Aleg</option>
                          <option value="BABABE">Bababé</option>
                          <option value="MBAGNE">M'Bagne</option>
                          <option value="MAGTALAHJAR">Magtalahjar</option>
                          <option value="BOGHE">Boghé</option>
                          <option value="MALE">Male</option>
                          <option value="ROSSO">Rosso</option>
                          <option value="OUAD_NAGA">Ouad Naga</option>
                          <option value="KEUR_MACENE">Keur Macène</option>
                          <option value="RKIZ">R'Kiz</option>
                          <option value="BOUTILIMIT">Boutilimit</option>
                          <option value="MEDERDRA">Mederdra</option>
                          <option value="TEKANE">Tekane</option>
                          <option value="ATAR">Atar</option>
                          <option value="AUOJEFT">Aoujeft</option>
                          <option value="OUADANE">Ouadane</option>
                          <option value="CHINGUITTI">Chinguitti</option>
                          <option value="NOUADHIBOU">Nouadhibou</option>
                          <option value="CHAMI">Chami</option>
                          <option value="TIDJIKJA">Tidjikja</option>
                          <option value="MOUDJERIA">Moudjeria</option>
                          <option value="TICHIT">Tichit</option>
                          <option value="SELIBABY">Sélibaby</option>
                          <option value="OULD_YENGE">Ould Yengé</option>
                          <option value="GHABOU">Ghabou</option>
                          <option value="WOMPOU">Wompou</option>
                          <option value="ZOUERATT">Zoueratt</option>
                          <option value="FDEIRICK">F'Deirick</option>
                          <option value="BIR_MOGHREIN">Bir Moghrein</option>
                          <option value="AKJOUJT">Akjoujt</option>
                          <option value="BENNECHAB">Bennechab</option>
                          <option value="TEVRAGH_ZEINA">Tevragh Zeina</option>
                          <option value="SEBKHA">Sebkha</option>
                          <option value="KSAR">Ksar</option>
                          <option value="DAR_NAIM">Dar Naïm</option>
                          <option value="TOUJOUNINE">Toujounine</option>
                          <option value="TEYARET">Teyaret</option>
                          <option value="ARAFAT">Arafat</option>
                          <option value="EL_MINA">El Mina</option>
                          <option value="RIYAD">Riyad</option>
                        </select>
                      </div>
                      <div class="flex items-center space-x-4">
                        <div class="flex flex-col">
                          <label class="leading-loose">Latitude</label>
                          <input
                            required
                            type="number"
                            name="latitude"
                            class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                            placeholder="Latitude"
                          />
                        </div>
                        <div class="flex flex-col">
                          <label class="leading-loose">Longitude</label>
                          <input
                            required
                            type="number"
                            name="longitude"
                            class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                            placeholder="Longitude"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="pt-4 flex items-center space-x-4">
                      <button
                        id="updateButton"
                        type="button"
                        class="bg-[#73b4a6] flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none"
                      >
                        Update
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../public/js/update-cabinet.js"></script>
  </body>
</html>
