<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
    <link href="../public/css/tailwind-output.css" rel="stylesheet" />
  </head>
  <body>
    <section class="mt-12 mx-auto px-4 max-w-screen-xl md:px-8">
      <div class="mt-12 grid gap-2 sm:grid-cols-2 lg:grid-cols-3">
        <!-- Card Component -->
        <article
          class="max-w-md mx-auto mt-4 shadow-lg border rounded-md duration-300 hover:shadow-sm"
        >
          <div class="min-w-[12rem]">
            <img
              src="https://images.unsplash.com/photo-1556155092-490a1ba16284?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
              loading="lazy"
              alt="What is SaaS? Software as a Service Explained"
              class="w-full h-48 rounded-t-md"
            />
            <div class="flex items-center mt-2 pt-3 ml-4 mr-2"></div>
            <div class="pt-3 ml-4 mr-2 mb-3">
              <h3 class="text-xl text-gray-900">
                What is SaaS? Software as a Service Explained
              </h3>
            </div>
          </div>
        </article>
      </div>
    </section>
  </body>
</html>
